.home {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
}

.header {
    background-color: #ff6347; /* Couleur de tomate */
    padding: 10px 0;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('../assets/images/PIZZA.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover; /* Remplit l'espace */
    background-position: center; /* Centre l'image */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    color: rgb(15, 15, 15);
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    flex-direction: column; /* Pour empiler verticalement le contenu */
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.order-button {
    background-color: #ff6347; /* Couleur de tomate */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.order-button:hover {
    background-color: #ff4500; /* Couleur plus foncée au survol */
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
}
